

<div class="container-fluid bg-dark px-0">
  <div class="row gx-0">
      <div class="col-lg-3 bg-dark d-none d-lg-block">
          <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
              <h1 class="m-0 text-primary text-uppercase">Reservy</h1>
          </a>
      </div>
      <div class="col-lg-9">
       
          <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
              <a href="index.html" class="navbar-brand d-block d-lg-none">
                  <h1 class="m-0 text-primary text-uppercase">Reservation</h1>
              </a>
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                  <div class="navbar-nav mr-auto py-0">
                    <a href="/api/auth/profil" class="nav-item nav-link active">Acceuil</a>
                      <a href="/api/crudRoom/list" class="nav-item nav-link">Salle de reunion </a>
                      <% if   (user.role ==='user') { %>
                        <a href="/api/crudReservation/Getreservations" class="nav-item nav-link">Mes reservation</a>
                        
                        <% } %>
                    
                      <% if   (user.role ==='admin') { %>
                      <a href="/Addrooms" class="nav-item nav-link">Ajouter une salle</a>
                      
                      <% } %>
                  </div>
                  <form action="/api/auth/logout" method="post">
                    <button class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block" type="submit">Déconnexion</button>
                  </form>
                  
              </div>
          </nav>
      </div>
  </div>
</div>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

     


        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/R.jpeg);">
            <div class="container-fluid page-header-inner py-5">
                <div class="container text-center pb-5">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Liste des salles</h1>
                   
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        


        <!-- Room Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Les salles</h6>
                    <h1 class="mb-5">Explorez nos  <span class="text-primary text-uppercase">Salles</span></h1>
                </div>
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="row g-4">
                            <% rooms.forEach(room => { %>
                               
                                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="room-item shadow rounded overflow-hidden">
                                        <div class="position-relative">
                                            <img class="img-fluid" src="/<%= room.image %>" alt="Image de la chambre">
                                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4"></small>
                                        </div>
                                        <div class="p-4 mt-2">
                                            <div class="d-flex justify-content-between mb-3">
                                                <h5 class="mb-0"><%= room.nom %></h5>
                                            </div>
                                            <div class="d-flex mb-3">
                                                <small class="border-end me-3 pe-3"><i class="fa fa-user text-primary me-2"></i><%= room.capacite %> Capacité</small>
                                                <small class="border-end me-3 pe-3"><i class="fa fa-map-marker text-primary me-2"></i><%= room.localisation %> Localisation</small>
                                            </div>
                                            <p class="text-body mb-3">Description : <%= room.description %></p>
                                            <p class="text-body mb-3">Equipement : <%= room.equipements %> </p>
                                            <div class="d-flex justify-content-between">
                                                <% if   (user.role ==='user') { %>
                                                    <a class="btn btn-sm btn-dark rounded py-2 px-4"  href="/api/crudReservation/rooms/<%= room._id%>/reservations">Voir calendrier</a>
                                                    <a class="btn btn-sm btn-dark rounded py-2 px-4"  href="/api/crudReservation/Reservation/add/<%= room._id %>">Réserver</a>
                                                <% } else if (user.role === 'admin') { %>
                                                    <small class="border-end me-3 pe-3"><a  href="/api/crudReservation/rooms/<%= room._id%>/reservations"><i class="fa fa-calendar text-primary me-2"></i>Voir calendrier</a></small>
                                                    <small class="border-end me-3 pe-3"><a href="/api/crudRoom/updateGetRoom/<%= room._id %>"><i class="fa fa-edit text-primary me-2"></i>Modifier</a></small>
                                                    <small class="border-end me-3 pe-3"><a href="/api/crudRoom/Deleterooms/<%= room._id %>" class="delete-room-link" data-room-id="<%= room._id %>"><i class="fa fa-trash text-primary me-2"></i>Supprimer</a> </small>
                                                    
                                                  
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Room End -->



<!-- Newsletter Start -->
<div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row justify-content-center">
        <div class="col-lg-10 border rounded p-1">
            <div class="border rounded text-center p-1">
                <div class="bg-white rounded text-center p-5">
                    <h4 class="mb-4">Abonnez-vous à notre <span class="text-primary text-uppercase">Newsletter</span></h4>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Entrez votre e-mail">
                        <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Soumettre</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter Start -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <div class="bg-primary rounded p-4">
                    <a href="index.html"><h1 class="text-white text-uppercase mb-3">Reservation</h1></a>
                   
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Tek up</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>roomMeeting@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="row gy-5 g-4">
                    <div class="col-md-6">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">Société</h6>
                        <a class="btn btn-link" href="">À propos de nous</a>
                        <a class="btn btn-link" href="">Contactez-nous</a>
                        <a class="btn btn-link" href="">Politique de confidentialité</a>
                        <a class="btn btn-link" href="">Conditions générales</a>
                        <a class="btn btn-link" href="">Support</a>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
             
                
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- Ajoutez la fenêtre contextuelle pour le formulaire de mise à jour -->


    <script>
     
        document.addEventListener("DOMContentLoaded", () => {
            const deleteLinks = document.querySelectorAll(".delete-room-link");
        
            deleteLinks.forEach(link => {
                link.addEventListener("click", (event) => {
                    event.preventDefault();
                    const confirmDelete = confirm("Êtes-vous sûr de vouloir supprimer cette chambre ?");
                    if (confirmDelete) {
                        const roomId = link.getAttribute("data-room-id");
                        fetch(link.getAttribute("href"), {
                            method: 'DELETE'
                        })
                        .then(response => {
                            if (response.ok) {
                                // Faire quelque chose après la suppression, comme rediriger l'utilisateur
                                window.location.reload(); // Recharger la page par exemple
                            } else {
                                throw new Error('Erreur lors de la suppression de la chambre');
                            }
                        })
                        .catch(error => {
                            console.error('Erreur:', error);
                            // Gérer les erreurs
                        });
                    }
                });
            });
        });
        </script>
     