
    
 
    <h1>Réservations de la salle <%= room.nom %></h1>

    <ul>
        <% reservations.forEach(function(reservation) { %>
            <li>
                <strong>Description:</strong> <%= reservation.description %><br>
                <strong>Date:</strong> <%= formattedDate(reservation.date) %><br>
                <strong>Heure de début:</strong> <%= reservation.heureDebut %><br>
                <strong>Heure de fin:</strong> <%= reservation.heureFin %><br>
            </li>
        <% }); %>
    </ul>


    <% function formattedDate(dateString) {
        const date = new Date(dateString);
        const formattedDate = ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear();
        return formattedDate;
    } %>